// Fonts
@sans-serif: Arial, sans-serif;
@f-helvetica: "Helvetica Neue", Helvetica, @sans-serif;
@font-size-base: 16;
@line-heigh-base: 18;

// Colors
@text-color:   #fff;
@bg-color:     @light-gray;
@green:        #4c1;
@light-gray:   #9f9f9f;
@red:          #cc3333;
@dark-gray:    #555;
