/*
  Project name: drone-dashboard 
  Version: 0.1.0 
  Description: Drone Dashboard 
  Repository: https://github.com/ 
  Authors: Gabriel Mateus 
  Github: git.io/gabrielmateus 
  Last update: 14/03/2014 
*/

@charset 'UTF-8';
/* Variables */
/* Useful Mixins */
/*  Helpful Classes
  ========================================================================== */
.left,
.repo-name,
.repo-status {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.align-top {
  vertical-align: top;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-right {
  margin-right: 0;
}
.center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.fixed {
  width: 100%;
  position: fixed !important;
  z-index: 10000;
}
.invisible {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.bg-dark-transparent {
  color: #fff;
  background: #0d4759;
  background: rgba(0, 60, 74, 0.9);
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*  Helpful Mixins
   ========================================================================== */
/* Custom Styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #9f9f9f;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul:before,
ul:after {
  content: " ";
  display: table;
}
ul:after {
  clear: both;
}
#repositories-list li:before,
#repositories-list li:after {
  content: " ";
  display: table;
}
#repositories-list li:after {
  clear: both;
}
.repo-name,
.repo-status {
  width: 50%;
  margin: 0;
  padding: 6rem 0;
  text-align: center;
  font-size: 46px;
  line-height: 50px;
  font-size: 4.6rem;
  line-height: 5rem;
}
.repo-name {
  text-shadow: 0 2px 1px rgba(34, 34, 34, 0.4);
  background-color: #555555;
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#3b3b3b));
  background: -webkit-linear-gradient(top, #555555 0%, #3b3b3b 100%);
  background: -moz-linear-gradient(top, #555555 0%, #3b3b3b 100%);
  background: -ms-linear-gradient(top, #555555 0%, #3b3b3b 100%);
  background: -o-linear-gradient(top, #555555 0%, #3b3b3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
}
.unknown {
  text-shadow: 0 2px 1px rgba(108, 108, 108, 0.4);
  background-color: #9f9f9f;
  background: -webkit-gradient(linear, left top, left bottom, from(#9f9f9f), to(#868686));
  background: -webkit-linear-gradient(top, #9f9f9f 0%, #868686 100%);
  background: -moz-linear-gradient(top, #9f9f9f 0%, #868686 100%);
  background: -ms-linear-gradient(top, #9f9f9f 0%, #868686 100%);
  background: -o-linear-gradient(top, #9f9f9f 0%, #868686 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
}
.success {
  text-shadow: 0 2px 1px rgba(37, 110, 9, 0.4);
  background-color: #44cc11;
  background: -webkit-gradient(linear, left top, left bottom, from(#44cc11), to(#349d0d));
  background: -webkit-linear-gradient(top, #44cc11 0%, #349d0d 100%);
  background: -moz-linear-gradient(top, #44cc11 0%, #349d0d 100%);
  background: -ms-linear-gradient(top, #44cc11 0%, #349d0d 100%);
  background: -o-linear-gradient(top, #44cc11 0%, #349d0d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
}
.failure {
  text-shadow: 0 2px 1px rgba(122, 31, 31, 0.4);
  background-color: #cc3333;
  background: -webkit-gradient(linear, left top, left bottom, from(#cc3333), to(#a32929));
  background: -webkit-linear-gradient(top, #cc3333 0%, #a32929 100%);
  background: -moz-linear-gradient(top, #cc3333 0%, #a32929 100%);
  background: -ms-linear-gradient(top, #cc3333 0%, #a32929 100%);
  background: -o-linear-gradient(top, #cc3333 0%, #a32929 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@startColor', endColorstr='@endColor', GradientType=1);
}
/* Media Queries */
@media (max-width: 1024px) {
  
}
